%h1 Quotes
%p
  %ul
    - Quote.quote_authors.each do |author|
      %li
        %h2= author
        - Quote.where(author: author).to_a.each do |quote|
          = quote.quote.html_safe
          %hr
        
      



%table
  %tr
    %th Quote
    %th Author
    %th Source
    %th
    %th
    %th

  - @quotes.each do |quote|
    %tr
      %td= quote.quote
      %td= quote.author
      %td= quote.source_id
      %td= link_to 'Show', quote
      %td= link_to 'Edit', edit_quote_path(quote)
      %td= link_to 'Destroy', quote, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Quote', new_quote_path
