= simple_form_for(@source) do |f|
  = f.error_notification

  .form-inputs
    = f.input :medium
    = f.input :name
    = f.input :author

  .form-actions
    = f.button :submit, 'Done', :class => "btn btn-primary"
