<p id="notice"><%= notice %></p>

<p>
  <strong>Medium:</strong>
  <%= @source.medium %>
</p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <% @examples.each do |example| %>
  <%= link_to "#{Thought.find(example.thought_id).title}", thought_path(example.thought_id) %><br>
  <%= example.body %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
