%p#notice= notice

%p
  %h2= @topic.name
 
  %ul
    - @thoughts.each do |thought|
      %li=link_to "#{thought.title}", thought_path(thought.id)
  .btn-group
    = link_to 'Edit', edit_topic_path(@topic), :class => "btn btn-default"
    = link_to 'Delete', @topic, :class => "btn btn-default", method: :delete, data: { confirm: 'Are you sure?'}
\|
= link_to 'Back', :back
