<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <% @thoughts.each do |thought| %>
  <%= link_to "#{thought.title}", thought_path(thought.id) %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
