%section#container
  #examples
    %div{style: "font-style: italic" }
      from a #{example.source.medium} titled #{example.source.name}    
    %br
    #example-body= example.body 
    %br
    .btn-group
      = link_to 'Edit Example', edit_thought_example_path(@thought, example), :class => "btn btn-default btn-sm"
      = link_to 'Delete Example', thought_example_path(@thought, example), method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-default btn-sm"


