<div id="new-example">
<%= form_for([@thought, @thought.examples.new]) do |f| %>
  <div class="field">
    <%= f.label :body, 'Add Example' %><br />
    <%= f.text_field :body %>
  </div>
<h4>Choose Source:</h4>
  <select name="source_id">
	  <%= @sources.each do |s| %>
	    <option value="<%= s.id %>"><%= s.name %></option>
	  <% end %>
  </select>
  <div class="actions">
	<%= f.submit "Add" %>
  </div>
<% end %>
</div>