= simple_form_for(@thought) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.association :topic
    = f.cktext_area :body, :class => "form-control"
    = f.input :tag_list

  .form-actions
    = f.button :submit, 'Done', :class => "btn btn-primary"