%section#container
  %p#notice= notice
		
  %h2#thought_header= @thought.title
		
  #modifiers
    .btn.btn-group.btn-default= link_to 'Edit', edit_thought_path(@thought)
    .btn.btn-group.btn-default= link_to 'Delete', @thought, method: :delete, data: { confirm: 'Are you sure?'}
			
  #thought-body
    %p= @thought.body.html_safe
		
  %h3#examples-heading Examples
			





