<section id="container">
<p id="notice"><%= notice %></p>

<h2 id="thought_header">
  <%= @thought.title %>
</h2>

<div id="modifiers">
<%= link_to 'Edit', edit_thought_path(@thought) %>
<%= link_to 'Delete', @thought, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div id="thought-body">
<p>
    <%= @thought.body.html_safe %>
</p> 
</div>
  
<h3 id="examples-heading">Examples</h3>
  
</section>


