%section#container
  %p#notice= notice
		
  %h2#thought_header= @thought.title
		
  #modifiers
    .btn-group
      = link_to 'Edit', edit_thought_path(@thought), :class => "btn btn-default"
      = link_to 'Delete', @thought, :class => "btn btn-default", method: :delete, data: { confirm: 'Are you sure?'}
			
  #thought-body
    %p= @thought.body.html_safe
		
  %h3#examples-heading Examples
			





