#history-main.container
  %h1 History
  .back-btn-right.btn.btn-default= link_to 'Back', :back



  %ul
    - @versions.each do |version|
      %li
      .container
        %h4= version.created_at.strftime("#{version.event.capitalize}d %B %d, %Y  %l:%m %p")
        #new-version
          Was Changed To:
          %pre= version.changeset['body'][1]
        #old-version
          This:
          %pre= version.changeset['body'][0]   
				
  .back-btn-right.btn.btn-default= link_to 'Back', :back

    