!!!5
= render 'layouts/shim'
= render 'layouts/head'
%body
  #container
    = render 'layouts/nav'
    #main
      = render 'layouts/flash'
      = yield
    = render 'layouts/footer'
  = render 'layouts/tail'

